<!DOCTYPE html>
<html>
<head>
    <title>Enter Details</title>
</head>

<body style="margin:0; font-family:Arial; background: linear-gradient(to right, #56ab2f, #a8e063);">

    <div style="text-align:center; padding:60px; color:white;">
        <h1>🏨 Welcome to SaveServe AI</h1>
        <p>Enter your Hotel Details</p>
    </div>

    <div style="background:white; width:350px; margin:auto; padding:30px; border-radius:15px; text-align:center;">

        <form action="/set_hotel" method="POST">

            <input type="text" name="hotel" placeholder="Hotel Name" required
            style="width:100%; padding:10px; margin-bottom:10px; border-radius:5px; border:1px solid #ccc;">

            <input type="text" name="city" placeholder="City (e.g. Chennai)" required
            style="width:100%; padding:10px; margin-bottom:15px; border-radius:5px; border:1px solid #ccc;">

            <button style="width:100%; background:#27ae60; color:white; padding:10px; border:none; border-radius:8px;">
                Continue →
            </button>

        </form>

    </div>

</body>
</html>