<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>

<body style="margin:0; font-family: Arial; background: linear-gradient(to right, #2c3e50, #4ca1af);">

    <div style="text-align:center; padding:40px; color:white;">
        <h1>🔐 Admin Login</h1>
    </div>

    <div style="background:white; width:350px; margin:auto; padding:30px; border-radius:10px; text-align:center;">

        <form method="POST" action="/login">

            <input type="text" name="username" placeholder="Username" required
            style="width:100%; padding:10px; margin:10px 0;"><br>

            <input type="password" name="password" placeholder="Password" required
            style="width:100%; padding:10px; margin:10px 0;"><br>

            <button style="width:100%; padding:10px; background:#27ae60; color:white;">
                Login
            </button>

        </form>

        <br>

        <a href="/">← Back</a>

    </div>

</body>
</html>